{$BASE_URL} {
    encode zstd gzip
    tls uet200@nyu.edu {
        dns cloudflare {$CF_API_TOKEN}
    }
    request_body {
        max_size 10MB
    }
    reverse_proxy app:3000 {
        header_up X-Forwarded-Proto {scheme}
    }
}
